<footer class="footer">
  <section class="container  footer__container">
    <section class="footer__logo_rights">
      <section class="footer_logo logo">
        <img src="assets/logo.png" alt="Logo" class="footer__logo-image">
      </section>
      <section class="footer__rights for_big_screen">
        Все права защищены, 2020
      </section>
    </section>
    <a class="instagram" [attr.href]="instagramLink" style ="text-decoration: none">
      <section class="instagram__logo">
        <img src="assets/instagram_logo.png" alt="Instagram Logo">
      </section>
      <section class="instagram__info" >Мы в Instagram</section>
    </a>
    <section class="footer__phone-number phone">{{contactPhone}}</section>
    <section class="footer__rights for_phone">
      Все права защищены, 2020
    </section>

  </section>
</footer>
