.product-card {
  width: 262px;
  height: 229px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product-card__info {
  height: 120px;
  width: 100%;
  padding: 0 20px 24px 20px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 42px 1fr 1fr;
  grid-template-areas:
        "title title"
         "qty  button"
        "price button" ;
  align-items: start;
  justify-items: center;
}

.product-card__image {
  width: 195px;
  height: 124px;
  transition-property: all;
  transition-duration: 0.5s;

}

.product-image {
  position: relative;
  top: -50%;
  width: 100%;
  height: 100%;

}

.product-card:hover .product-card__image {
  transform: scale(1.1);
}

.product-card__title {
  font-size: 18px;
  color: #ffffff;
  font-family: "Tavolga-Free", sans-serif;
  text-align: center;
  grid-area:  title;
}

.product-card__qty {
  font-size: 15px;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  grid-area:  qty;
  align-self: start;
  justify-self: start;
}

.product-card__price {
  font-size: 15px;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  grid-area:  price;
  align-self: end;
  justify-self: start;
  padding-bottom: 4px;
}

.product-card__button{
  width: 130px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  padding: 18px;
  grid-area:  button;
}
