
<component-header (scrollTarget)="eventScroll($event)" ></component-header >
<!--Common information-->
<article class="common-info">
  <section class="container common-info__container">
    <section class="common-info__description">
      <h1 class="common-info__title">
        Мягкие французские пироженки Macaroons
      </h1>
      <h3 class="common-info__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </h3>
      <button class="btn common-info__btn" (click)="scrollTo(productSelect)" buttonEffect
      [buttonEffectBackgroundColor]="'#617b3f'" >Выбрать макарун</button>
    </section>
    <section class="common-info_picture-holder">
      <section class="common-info__picture">
        <img src="assets/cakes_in_box.png" alt="Cake in box" class="cakes-image">
      </section>
    </section>

  </section>
</article>
<!--Advantages-->
<article class="advantages">
  <section class="container advantages__container" #about_us>
    <h2 class="advantages__title">
      Мы печём для вас вкуснейшие макаруны уже более 10 лет
    </h2>
    <h4 class="advantages__recipe">
      Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
      ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
      разрыхлителей и улучшителей муки.
    </h4>
    <section class="advantages__main_picture">
      <img src="assets/big_cake.png" alt="Big cake" class="big-cake-image">
    </section>


    <advantage-component *ngFor="let advantage of advantagesList " [advantage]="advantage" ]></advantage-component>


  </section>
</article>
<!--Product selection-->
<main class="product-select">
  <section class="container">
    <h1 class="products-select__title">Выберите свой макарун</h1>
    <section class="products-select__cards" #productSelect>
      <product-component *ngFor="let product of productCards" [product]="product" (addToCartEvent)="orderProduct($event, orderForm)"></product-component>


    </section>
  </section>
</main>

<!--Product order-->
<article class="product-order">
  <section class="container product-order__container">
    <section class="pile-of-cakes">
      <img class="product-order__img" src="assets/pile-of-cakes.png" alt="Pile of Cakes">
    </section>
    <section class="flying-berry big-berry">
      <img class="product-order__img" src="assets/flying_big_berry.png" alt="Flying Big Berry">
    </section>
    <section class="flying-berry small-berry">
      <img class="product-order__img" src="assets/flying_small_berry.png" alt="Flying Small Berry">
    </section>
    <form action="#" class="cake_order-form" #orderForm>
      <h2 class="cake_order_title">Закажите макарун!</h2>
      <section class="cake_order_text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </section>
      <label class="cake_order__label" for="choose">Ваш выбор</label>
      <input class="cake_order__input input-choose" type="text" name="choose" id="choose"
             placeholder="Напишите, что хотите заказать..." [(ngModel)]="orderFormData.productName">
      <label class="cake_order__label" for="name">Заполните данные для заказа</label>
      <input class="cake_order__input" type="text" name="name" id="name" placeholder="Ваше имя" [(ngModel)]="orderFormData.customerName">
      <input class="cake_order__input" type="tel" name="tel" id="tel" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="orderFormData.customerPhone">
      <button class="btn cake-order__button" buttonEffect
      [buttonEffectBackgroundColor]="'#4d0066'"
              [buttonEffectFocusBackgroundColor]="'#506600'"
      >Оформить заказ</button>

    </form>

  </section>
</article>
<!--Footer-->
<component-footer></component-footer>

<!--Present icon-->

<article class="present" *ngIf="showPresent">
  <section class="present__message">
    {{orders_qty.totalPrice | currencyPipe}}
  </section>
  <section class="present__icon">
    <img class="present__icon-img" src="assets/cart.png" alt="Present">
    <div class="orders_qty">{{orders_qty.count}}</div>
  </section>

</article>


